<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.container {
  padding: 16px;
}

</style>
</head>
<body>
    <div class = "container">
            <h1>Login Successful!</h1>
            <h3>You are logged in:</h3>
                <p>User: {{ email_on_template }}</p>
            <form action="/wall" method="POST">
                <input type="submit" value="Wall">
            </form>
            <form action="/logout" method="POST">
                <input type="submit" value="Home">
            </form>
    </div>
</body>
</html>
